<div class="row">
  <div class="col-md-3">
    <h3>{{user.firstName}} {{user.lastName}}</h1>
    <hr>
    <h4>{{user.username}}</p>
    <hr>
    <small><i class="fa fa-location-arrow" aria-hidden="true"></i> {{user.city}}, {{user.country}}</small>
    </div>
  <div class="col-md-6">
   <div class="panel panel-body panel-default">
      {{# each userComments}}
      <div class="media">
          <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64" alt="">
          </a>
          <div class="media-body">
              <h4 class="media-heading">{{this.author}}
                  <small>{{this.date}}</small>
              </h4>
              {{this.content}}
          </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
